<ul class="nav nav-pills">
  <li role="presentation" class="active"><%= link_to "Home", root_path%></li>
  <li role="presentation"><%= link_to "View Tweets", tweets_path%></li>
  <li role="presentation"><%= link_to "New Tweet", new_tweet_path%></li>
</ul>


<div class="jumbotron text-center">
  <h1>WDI Twitter</h1>
</div>

<div class="col-sm-4">
  <%= image_tag("html.png")%>
</div>

<div class="col-sm-4">
  <%= image_tag("css.png")%>
</div>

<div class="col-sm-4">
  <%= image_tag("ror.png")%>
</div>
